* {
    margin: 0;
    padding: 0;
    /* border: 2px solid black; */
}

h3 {
    font-family: sans-serif;
}

.containerr {
    text-align: center;
}

.title {
    text-align: center;
}

.cityName {
    text-align: center;
    height: 3rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

.cards {
    margin-left: 1.5rem;
    margin-top: 1rem;
    padding: 2px;
}

.img {
    height: 150px;
    width: 300px;
    margin-right: 20px;
}

.place-info {
    margin-left: 10px;
    display: inline-block;
}