h3 {
    font-family: sans-serif;
}

.containerr {
    background-color: aqua;
    text-align: center;
}

.title {
    text-align: center;
    background-color: gray;
}

#detail {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;

    border: 2px solid black;
}

#cityName {
    background-color: darkorchid;
    align-items: center;
}

.cityName {
    text-align: center;
    height: 3rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

.cards {
    height: 250px;
    width: 540px;
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: grey;
    border: 2px solid red;
    padding: 2px;
    transition: red 0.9s ease;
}

.cards:hover {
    border-radius: 5px;
    background-color: green;
}